<h1>
    Cross Post message Hub
</h1>
<script type="text/javascript" src="/javascripts/cross-post-message-hub.js"></script>
<script>
(function () {
   var hub = new CrossPostMessageHub();
})();
</script>
