<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="login-status"></div>


<script type="text/javascript" src="https://s3.amazonaws.com/es6-promises/promise-1.0.0.min.js"></script>
<script type="text/javascript" src="/vendor/cross-storage/dist/client.js"></script>
<script type="text/javascript" src="/javascripts/login-client.js"></script>
<script type="text/javascript" src="/javascripts/cross-post-message-client.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
